@import './../../../theme.scss';

$primary-color: map-get($my-custom-theme , primary );

mat-sidenav-container{
  height: 100vh;
}
mat-sidenav{
  width: 250px;
  padding: 1rem;
  padding-top: 4rem;
  text-align: center;
  background-color: mat-color($primary-color) !important;
  color: white !important;
}

mat-sidenav-content{
  background-color: white;
  color: black;
}

.content{
  padding: 2rem;
  padding-top: 4rem;
}

#sidenav-btn{
  position: absolute;
  left: 1.25rem;
  top: 1rem;
}


