// @import './../../../../../theme.scss';

// $primary-color: map-get($my-custom-theme , primary );

// .color-primary-60{
//   color: mat-color($primary-color);
// }





.bio{
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 2rem;
}
