<div class="headline" fxFlexAlign="center">Hello, My name is <span class="color-primary-60">Dilruba Ahmed</span></div>
<div class="sub-headline">I am a <span class="color-primary-60">Web Developer</span></div>
<div class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque felis nisi, laoreet at lorem quis, rhoncus viverra orci. Etiam in faucibus ex. Integer fringilla vehicula efficitur. In convallis enim eu libero dictum pharetra. Praesent dapibus imperdiet elit ac varius. Duis vehicula odio at est cursus gravida. In quam turpis, interdum eu porttitor id, aliquam in massa. In rutrum nisi eu arcu condimentum ultricies. Vivamus auctor, erat et scelerisque consequat, nibh justo tincidunt quam, et blandit ipsum neque sed sem. Proin quam purus, tristique id tristique eget, bibendum vel nunc.</div>
<div>
  <button mat-flat-button color="primary" (click)="navigateToAboutPage()">More About Me</button>
</div>
