/* You can add global styles to this file, and also import other style files */

*{
  font-size: 1rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

@import './theme.scss';

$primary-color: map-get($my-custom-theme , primary );

.color-primary-60{
  color: mat-color($primary-color);
}

.bg-primary-60{
  background-color: mat-color($primary-color);
}

.headline, .headline span{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sub-headline{
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.section-title,.section-title span{
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
